<!DOCTYPE html>
<html lang="cn">
  <head>
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta name="keywords" content="matrix">
     <title>{% block title %}Matrix{% endblock %}</title>
  </head>
  <body>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Header div defintions -->    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Matrix's matrix</h1>
            <p class="lead">我虽然走得很慢，但我从不后退半步！</p>
        </div>
    </div>
    {% block navigator %}
    <div class="container-fluid">
        <a class="btn btn-primary" href="{{ url_for('note.publish') }}">+</a>
    </div>
    {% endblock %}

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <div class="jumbotron text-center">
        版权归Matrix所有，请随意转载
    </div>
 </body>
</html>
